html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://i0.statig.com.br/bancodeimagens/0w/nc/j6/0wncj6d92ro2m50bl2zkzmv1b.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#basicExampleNav {
    font:black;
}